<!DOCTYPE html>
<html>
  <head>
    <title>WebHash About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
  <body>
    <h1>WebHash</h1>
    <h2>Introductionto WebHash</h2>
	Hi, you have reached the WebHash page. This site crawls a page that you specify and stores a SHA256 hash of the content of the page. The original motivation for storing the hash of a webpage is to detect the practical jokers who put up a proxy between my dorm/work computer and the outside world. This site sits on the outside of that proxy, so it will be able to detect if there is a proxy blocking another site.
<p />
	There are several major features that I'd like to implement in the near future. These include: 
<ol>
<li> Sending alert when the resource at an URL changes</li>
<li> Geolocating the WebHash server to local severs in more locations</li>
<li> implement more general crawl able to handle more than just HTML</li>
</ol>
<p />
You will notice quickly that the hashes are stored regularlly. This will enable us to verify content of the webpage at a historic time.
<p><a href="/">home</a></p>
</body>
</html>
